.guide-star-container
  width: 100%
  display: flex
  justify-content: space-evenly
  margin-bottom: 32px

.guide-star-link
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  border-left: 1px solid lighten(black, 60%)
  &:first-child
    border-left: none

.value-container
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  background-color: red

.value-text-container
  padding: 32px