@import vars

header.nav-header
  position: fixed
  top: 0
  width: 100%
  background-color: $background-color

.navbar-container
  display: flex
  justify-content: space-between
  align-items: center
  max-width: $body-width
  padding: 16px 64px
  margin: auto

.navbar-header
  display: flex
  height: fit-content
  justify-content: center
  align-items: center
  width: max-content

a.navbar-brand
  display: inline-block
  font-family: $font-brand
  font-size: 24px
  line-height: 32px
  padding-left: 16px
  margin: 0
  color: black
  max-height: 40px
  &:hover
    text-decoration: none

.navbar-list
  list-style: none
  display: flex
  margin: 0
  li
    margin-left: 32px

a.nav-link
  color: black
  &:hover
    text-decoration: underline
