---
---

@import css/vars, css/reset, css/nav, css/footer, css/blog, css/404, css/donate, css/home

.container
  margin: auto
  margin-top: 72px
  max-width: $body-width

header.page-header
  display: flex
  justify-content: center
  align-items: center
  padding: 48px 0
  h1
    font-weight: 800
    font-size: 64px
    line-height: 80px
    font-family: $font-brand

// Hero
.hero
  background-color: black
  color: white
  height: calc( 100vh - 112px )
  min-height: 500px
  display: flex
  flex-direction: column
  justify-content: center
  padding: 56px
  margin-bottom: 64px

.hero-text
  font-weight: 800
  font-size: 64px
  line-height: 80px
  margin-bottom: 24px

img.logo
  width: 40px

select
  width: 100%
  margin-bottom: 10px

label
  font-weight: inherit

div.newsletter
  background-color: rgba(59, 136, 5, 0.56)
  border-radius: 28px
  padding: 20px
  box-shadow: 0 0 13px rgba(0,0,0,0.2)
  margin-bottom: 10px

// Contact
.contact.group
  vertical-align: top
  width: 49%
  display: inline-block

.contact
  padding: 0

// People
.person + hr
  margin: 15px 0 15px 0

.person img
  width: 20%
  min-width: 100px
  float: left
  margin-right: 10px
