body {
  margin: 0;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.navbar-brand {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  padding-right: 10px;
  margin: 0 0 0 0;
  color: white;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
  position: relative;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #50B548;
    background-color: #484848;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-weight: bold;
}
.nav li.active > a {
  border-bottom: 3px solid #cc7a6f;
}

.nav li.active {
  max-height: 50px;
}

.container img {
  width: 100%;
  margin-bottom: 5px;
}

figure {
  text-align: center;
  color: gray;
  font-size: .9em;
}

.contact.group {
  vertical-align: top;
  width: 49%;
  display: inline-block;
}

img.logo {
  width: 40px;
  margin: -10px 3px -10px 0;
  display: inline-block;
}

.nav > li > a {
    font-size: 1.3em;
}

a.navbar-brand {
    font-size: 1.7em;
}

p {
    font-size: 1.2em;
}

figcaption {
    font-size: 1.1em;
}