<footer class="site-footer">
  <section class="footer-section">
    {% include logo-brand.html %}
    <ul class="contact-list">
      <li>{{ site.title }}</li>
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    </ul>
  </section>

  <section class="footer-section">
    <ul class="social-media-list">
      {% if site.facebook_username %}
      <li>
        <a href="https://facebook.com/{{ site.facebook_username }}">
          facebook
        </a>
      </li>
      {% endif %} {% if site.instagram_username %}
      <li>
        <a href="https://instagram.com/{{ site.instagram_username }}">
          instagram
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
</footer>
