<footer class="site-footer">
  <section class="footer-section">
    {% include logo-brand.html %}
    <p class="footer-description">
      Cosechando Felicidad Inc. is a 501(c)3 nonprofit working in Guatemala
    </p>
  </section>

  <section class="footer-section">
    <ul class="social-media-list">
      <li><a class="email-link" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      {% if site.facebook_username %}
      <li>
        <a href="https://facebook.com/{{ site.facebook_username }}">
          facebook
        </a>
      </li>
      {% endif %} {% if site.instagram_username %}
      <li>
        <a href="https://instagram.com/{{ site.instagram_username }}">
          instagram
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
</footer>
