<footer class="site-footer">
  <div class="container">
      <div class="footer-col  col-sm-4">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="footer-col  col-sm-4">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter"></span>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}">
              <span class="icon  icon--facebook"><img src="{{ site.url }}/images/fb_icon.png"></span>
              <span class="username">{{ site.facebook_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  col-sm-4">
        <p class="text">{{ site.footertext }}</p>
      </div>
    </div>

  </div>

</footer>
