<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="XQYE7PAA4MAPW">
<table>
<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
	<option value="Our tortillas for a day">Our tortillas for a day : $6.00 USD - monthly</option>
	<option value="1 meal">1 meal : $10.00 USD - monthly</option>
	<option value="1 day of meals a month">1 day of meals a month : $30.00 USD - monthly</option>
	<option value="1 meal a week">1 meal a week : $40.00 USD - monthly</option>
	<option value="1 day a week">1 day a week : $120.00 USD - monthly</option>
	<option value="Groceries for a single mother">Groceries for a single mother : $20.00 USD - monthly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but04.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
